# ESP-IDF files
build/
sdkconfig.old
managed_components/

# VS Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode/ipch/

# System files
.DS_Store
Thumbs.db
.vscode/settings.json
